# Exercise Solutions - Day 4
*August 1, 2024*

*I School Python Bootcamp*

*Author: Lauren Chambers<br>Modified from exercises by George McIntire, Hellina Nigatu, & Kat Tian*

## Lab 4A - File I/O

### Exercise 1
*Reading and writing text files*

Open up and load in `zen_of_python.txt` reverse the order of the words in it and then save the result to a new file called `zen_of_python_reversed.txt`

In [70]:
filepath = "zen_of_python.txt"

with open(filepath, "r") as f:
    zen = f.readline()

In [49]:
rev_zen = []
for line in zen[::-1]:
    words = line.split()
    rev_words = words[::-1]
    rev_line = " ".join(rev_words)
    rev_line = rev_line.replace("!", "").replace(".", "")
    rev_zen.append(rev_line)

# Remove punctuation
rev_zen

["those of more do let's -- idea great honking one are Namespaces",
 'idea good a be may it explain, to easy is implementation the If',
 "idea bad a it's explain, to hard is implementation the If",
 'now *right* than better often is never Although',
 'never than better is Now',
 "Dutch you're unless first at obvious be not may way that Although",
 'it do to way --obvious one only preferably and one-- be should There',
 'guess to temptation the refuse ambiguity, of face the In',
 'silenced explicitly Unless',
 'silently pass never should Errors',
 'purity beats practicality Although',
 "rules the break to enough special aren't cases Special",
 'counts Readability',
 'dense than better is Sparse',
 'nested than better is Flat',
 'complicated than better is Complex',
 'complex than better is Simple',
 'implicit than better is Explicit',
 'ugly than better is Beautiful']

In [51]:
with open("zen_of_python_reversed.txt", "w") as f:
    f.write("\n".join(rev_zen))

In [52]:
!ls

Lab 4A - Working with Files.ipynb page_visits.json
Lab 4B - Week 1 Recap.ipynb       text.txt
README.md                         zen_of_python.txt
case_urls.txt                     zen_of_python_reversed.txt
countries.csv

### Exercise 2
*Reading and analyzing JSON data*

Load in the `page_visits.json` file. Iterate over it and extract all the values associated with the `title` only if the `completed` value is True into a list.

In [53]:
with open("page_visits.json", "r") as fo:
    data = fo.read()
    json_dicts = json.loads(data)

In [55]:
completed_titles = []

for visit in json_dicts:
    if visit['completed'] == True:
        completed_titles.append(visit["title"])

completed_titles

['et porro tempora',
 'quo adipisci enim quam ut ab',
 'illo est ratione doloremque quia maiores aut',
 'vero rerum temporibus dolor',
 'ipsa repellendus fugit nisi',
 'repellendus sunt dolores architecto voluptatum',
 'ab voluptatum amet voluptas',
 'accusamus eos facilis sint et aut voluptatem',
 'quo laboriosam deleniti aut qui',
 'molestiae ipsa aut voluptatibus pariatur dolor nihil',
 'ullam nobis libero sapiente ad optio sint',
 'distinctio vitae autem nihil ut molestias quo',
 'voluptas quo tenetur perspiciatis explicabo natus',
 'aliquam aut quasi',
 'veritatis pariatur delectus',
 'nemo perspiciatis repellat ut dolor libero commodi blanditiis omnis',
 'repellendus veritatis molestias dicta incidunt',
 'excepturi deleniti adipisci voluptatem et neque optio illum ad',
 'totam atque quo nesciunt',
 'tempore ut sint quis recusandae',
 'cum debitis quis accusamus doloremque ipsa natus sapiente omnis',
 'cupiditate necessitatibus ullam aut quis dolor voluptate',
 'quis et est ut voluptate quam dolor',
 'voluptatum omnis minima qui occaecati provident nulla voluptatem ratione',
 'deleniti ea temporibus enim',
 'et sequi qui architecto ut adipisci',
 'odit optio omnis qui sunt',
 'doloremque aut dolores quidem fuga qui nulla',
 'sint amet quia totam corporis qui exercitationem commodi',
 'sequi dolorem sed',
 'eum ipsa maxime ut',
 'tempore molestias dolores rerum sequi voluptates ipsum consequatur',
 'suscipit qui totam',
 'quidem at rerum quis ex aut sit quam',
 'et quia ad iste a',
 'incidunt ut saepe autem',
 'laudantium quae eligendi consequatur quia et vero autem',
 'sequi ut omnis et',
 'molestiae nisi accusantium tenetur dolorem et',
 'nulla quis consequatur saepe qui id expedita',
 'in omnis laboriosam',
 'odio iure consequatur molestiae quibusdam necessitatibus quia sint',
 'vel nihil et molestiae iusto assumenda nemo quo ut',
 'debitis accusantium ut quo facilis nihil quis sapiente necessitatibus',
 'totam quia dolorem et illum repellat voluptas optio',
 'ad illo quis voluptatem temporibus',
 'a eos eaque nihil et exercitationem incidunt delectus',
 'autem temporibus harum quisquam in culpa',
 'aut aut ea corporis',
 'ipsa dolores vel facilis ut',
 'inventore aut nihil minima laudantium hic qui omnis',
 'provident aut nobis culpa',
 'ut asperiores perspiciatis veniam ipsum rerum saepe',
 'voluptatem libero consectetur rerum ut',
 'nulla aliquid eveniet harum laborum libero alias ut unde',
 'qui molestiae voluptatibus velit iure harum quisquam',
 'et labore eos enim rerum consequatur sunt',
 'placeat minima consequatur rem qui ut',
 'aut consectetur in blanditiis deserunt quia sed laboriosam',
 'explicabo consectetur debitis voluptates quas quae culpa rerum non',
 'maiores accusantium architecto necessitatibus reiciendis ea aut',
 'molestiae suscipit ratione nihil odio libero impedit vero totam',
 'eum itaque quod reprehenderit et facilis dolor autem ut',
 'accusamus adipisci dicta qui quo ea explicabo sed vero',
 'rerum non ex sapiente',
 'voluptatem nobis consequatur et assumenda magnam',
 'nam quia quia nulla repellat assumenda quibusdam sit nobis',
 'dolorem veniam quisquam deserunt repellendus',
 'debitis vitae delectus et harum accusamus aut deleniti a',
 'debitis adipisci quibusdam aliquam sed dolore ea praesentium nobis',
 'ex hic consequuntur earum omnis alias ut occaecati culpa',
 'omnis laboriosam molestias animi sunt dolore',
 'ea odio perferendis officiis',
 'fugiat aut voluptatibus corrupti deleniti velit iste odio',
 'laudantium eius officia perferendis provident perspiciatis asperiores',
 'nesciunt itaque commodi tempore',
 'omnis consequuntur cupiditate impedit itaque ipsam quo',
 'debitis nisi et dolorem repellat et',
 'inventore saepe cumque et aut illum enim',
 'omnis nulla eum aliquam distinctio',
 'vel non beatae est',
 'culpa eius et voluptatem et',
 'accusamus sint iusto et voluptatem exercitationem',
 'temporibus atque distinctio omnis eius impedit tempore molestias pariatur',
 'rerum debitis voluptatem qui eveniet tempora distinctio a',
 'rerum ex veniam mollitia voluptatibus pariatur',
 'consequuntur aut ut fugit similique',
 'dignissimos quo nobis earum saepe',
 'quis eius est sint explicabo',
 'numquam repellendus a magnam']

### Exercise 3
*Reading and analyzing tabular data*

Load the `countries.csv` file (you can use `csv` or `pandas`, whichever you prefer). Calculate the average life expectancy for each continent in 1952.

#### Use `pandas`

In [6]:
import pandas as pd

In [8]:
countries_df = pd.read_csv("countries.csv")

In [57]:
continents = set(countries_df.continent)

life_per_cont = {}
for c in continents:
    lifeExp = countries_df[countries_df.continent == c][countries_df.year == 1952].lifeExp.mean()
    life_per_cont[c] = lifeExp

life_per_cont

/var/folders/_l/m1t5fd6s2yn3409p5pl_8q7c0000gn/T/ipykernel_16545/3873535045.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  lifeExp = countries_df[countries_df.continent == c][countries_df.year == 1952].lifeExp.mean()
/var/folders/_l/m1t5fd6s2yn3409p5pl_8q7c0000gn/T/ipykernel_16545/3873535045.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  lifeExp = countries_df[countries_df.continent == c][countries_df.year == 1952].lifeExp.mean()
/var/folders/_l/m1t5fd6s2yn3409p5pl_8q7c0000gn/T/ipykernel_16545/3873535045.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  lifeExp = countries_df[countries_df.continent == c][countries_df.year == 1952].lifeExp.mean()
/var/folders/_l/m1t5fd6s2yn3409p5pl_8q7c0000gn/T/ipykernel_16545/3873535045.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  lifeExp = countries_df[countries_df.continent == c][countries_df.year == 1952].lifeExp.mean()
/var/folders/_l/m1t5fd6s2yn3409p5pl_8q7c0000gn/T/ipykernel_16545/3873535045.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  lifeExp = countries_df[countries_df.continent == c][countries_df.year == 1952].lifeExp.mean()

{'Americas': 53.27983999999999,
 'Asia': 46.31439393939394,
 'Africa': 39.13549999999999,
 'Oceania': 69.255,
 'Europe': 64.40849999999999}

#### Use `csv`

In [16]:
import csv

In [18]:
countries_data = []

with open('countries.csv', newline='') as file_object:
    reader = csv.reader(file_object)
    for row in reader:
        countries_data.append(row)

countries_data[0]

['country', 'year', 'pop', 'continent', 'lifeExp', 'gdpPercap']

In [20]:
continents = set([row[3] for row in countries_data[1:]])
continents

{'Africa', 'Americas', 'Asia', 'Europe', 'Oceania'}

In [24]:
life_per_cont = {}

for c in continents:
    lifeExps = []
    for row in countries_data[::-1]: 
        year = row[1]
        lifeExp = row[4]
        cont = row[3]
        if cont == c and year == "1952":
            lifeExps.append(float(lifeExp))

    life_per_cont[c] = sum(lifeExps) / len(lifeExps)

life_per_cont

{'Europe': 64.40849999999999,
 'Americas': 53.279839999999986,
 'Africa': 39.13549999999999,
 'Asia': 46.31439393939394,
 'Oceania': 69.255}

### Exercise 4
*Self-teaching skills using package documentation*

Load `countries.csv` into a pandas dataframe.

Review this tutorial on the `pandas` website: https://pandas.pydata.org/docs/getting_started/intro_tutorials/05_add_columns.html

Use it to figure out how to add a new column to the dataframe: the raw GDP, as opposed to the per capita. (`gdp = pop * gdpPercap`)

In [61]:
countries_df = pd.read_csv("countries.csv")

countries_df["gdp"] = countries_df["pop"] * countries_df["gdpPercap"]

countries_df

,country,year,pop,continent,lifeExp,gdpPercap,gdp
0,Afghanistan,1952,8425333.0,Asia,28.801,779.445314,6.567086e+09
1,Afghanistan,1957,9240934.0,Asia,30.332,820.853030,7.585449e+09
2,Afghanistan,1962,10267083.0,Asia,31.997,853.100710,8.758856e+09
3,Afghanistan,1967,11537966.0,Asia,34.020,836.197138,9.648014e+09
4,Afghanistan,1972,13079460.0,Asia,36.088,739.981106,9.678553e+09
...,...,...,...,...,...,...,...
1699,Zimbabwe,1987,9216418.0,Africa,62.351,706.157306,6.508241e+09
1700,Zimbabwe,1992,10704340.0,Africa,60.377,693.420786,7.422612e+09
1701,Zimbabwe,1997,11404948.0,Africa,46.809,792.449960,9.037851e+09
1702,Zimbabwe,2002,11926563.0,Africa,39.989,672.038623,8.015111e+09
1703,Zimbabwe,2007,12311143.0,Africa,43.487,469.709298,5.782658e+09

## Lab 4B - Week 1 Recap

### Exercise  1

Create a dictionary where the ids in case_ids are keys in dictionary where the values are the urls for their legal cases. Put the case id in the curly brackets in the url string

In [2]:
url = "https://scholar.google.com/scholar_case?case={}"
case_ids = [6768454, 7712102, 6448738, 5374866, 6167299, 4683704, 3160303,
       3379031, 5507176, 7024792, 9332965, 3999836, 1314612, 5918388,
       1994897, 6497745, 4011633, 2837473, 7121246, 2001872]

In [3]:
cases_dict = {}

for id in case_ids:
    cases_dict[id] = url.format(id)

cases_dict

{6768454: 'https://scholar.google.com/scholar_case?case=6768454',
 7712102: 'https://scholar.google.com/scholar_case?case=7712102',
 6448738: 'https://scholar.google.com/scholar_case?case=6448738',
 5374866: 'https://scholar.google.com/scholar_case?case=5374866',
 6167299: 'https://scholar.google.com/scholar_case?case=6167299',
 4683704: 'https://scholar.google.com/scholar_case?case=4683704',
 3160303: 'https://scholar.google.com/scholar_case?case=3160303',
 3379031: 'https://scholar.google.com/scholar_case?case=3379031',
 5507176: 'https://scholar.google.com/scholar_case?case=5507176',
 7024792: 'https://scholar.google.com/scholar_case?case=7024792',
 9332965: 'https://scholar.google.com/scholar_case?case=9332965',
 3999836: 'https://scholar.google.com/scholar_case?case=3999836',
 1314612: 'https://scholar.google.com/scholar_case?case=1314612',
 5918388: 'https://scholar.google.com/scholar_case?case=5918388',
 1994897: 'https://scholar.google.com/scholar_case?case=1994897',
 6497745: 'https://scholar.google.com/scholar_case?case=6497745',
 4011633: 'https://scholar.google.com/scholar_case?case=4011633',
 2837473: 'https://scholar.google.com/scholar_case?case=2837473',
 7121246: 'https://scholar.google.com/scholar_case?case=7121246',
 2001872: 'https://scholar.google.com/scholar_case?case=2001872'}

### Exercise  2

Use python to demonstrate which sentence contains more unique words.

In [27]:
sentence1 = """Data from the CDC’s National 
Health and Nutrition Examination Survey shows that America's drinking habits are changing.
Sure, water is still our most consumed beverage, accounting for nearly half of our total consumption."""

sentence2 = """ But consumption of other beverages, like soft drinks and regular milk, 
are way down across all age groups. It’s a fascinating look into how Americans 
have replaced soda with bottled water."""

In [10]:
n_words1 = len(set(sentence1.split()))
n_words2 = len(set(sentence2.split()))
print(n_words1, n_words2)

32 31

### Exercise  3

Use list comprehensions to demonstrate which sentence from Exercise 2 contains more long words - words 7 letters or longer.

In [29]:
n_long_words1 = len([word for word in sentence1.split() if len(word) >= 7])
n_long_words2 = len([word for word in sentence2.split() if len(word) >= 7])
print("Sentence 1:", n_long_words1)
print("Sentence 2:", n_long_words2)

Sentence 1: 10
Sentence 2: 8

### Exercise  4
*First Letter Frequency*

**Part 1**

Create a dictionary that keeps track of the frequencies of the first letters of the words in the following passage.

Casing does not matter here.

In [31]:
text = """MLPs – the other core building block of Transformers – also introduce an efficiency bottleneck, 
which becomes more acute as we continue to optimize attention. 
MLPs are quadratic in the model width, which means they grow more expensive as you make models wider. 
This is why models like GPT-3 are so expensive, 
and why GPT-4 has allegedly started using techniques like mixtures of experts."""

In [18]:
first_letters = {}

for word in text.split():
    first_letter = word.lower()[0]

    if first_letter.isalpha():

        if first_letter not in first_letters.keys():
            first_letters[first_letter] = 0
    
        first_letters[first_letter] += 1

first_letters

{'m': 10,
 't': 7,
 'o': 4,
 'c': 2,
 'b': 4,
 'a': 10,
 'i': 3,
 'e': 4,
 'w': 7,
 'q': 1,
 'g': 3,
 'y': 1,
 'l': 2,
 's': 2,
 'h': 1,
 'u': 1}

In [37]:
# Credit to Vijay for this dict comprehension answer!
first_letters = [word[0] for word in text.split()]
{k.lower(): first_letters.count(k.lower()) for k in first_letters}

{'m': 8,
 '–': 2,
 't': 5,
 'o': 4,
 'c': 2,
 'b': 4,
 'a': 10,
 'i': 3,
 'e': 4,
 'w': 7,
 'q': 1,
 'g': 1,
 'y': 1,
 'l': 2,
 's': 2,
 'h': 1,
 'u': 1}

**Part 2**

Create a new dictionary that tallies the frequencies of starting letters that are vowel and consonants.

Do this by iterating over the letter frequency dictionary you just created.

In [42]:
vowels_v_consonants = {"vowels": 0,
                       "consonants": 0}

for key, value in first_letters.items():
    if key in "aeiou":
        vowels_v_consonants["vowels"] += value
    else:
        vowels_v_consonants["consonants"] += value

vowels_v_consonants

{'vowels': 22, 'consonants': 40}

### Exercise  5 
*Sorting and flattening*

Write a function that collects all the numbers in a list of lists into one list and sorts them.

In [20]:
nested_list= [[2,3], [9,2,51,6],[9,1,22,44,12],[0]] # Demonstrate with this list

In [22]:
def sort_and_flatten(list_of_lists):
    one_list = []
    for l in list_of_lists:
        one_list += l

    return sorted(one_list)

sort_and_flatten(nested_list)

[0, 1, 2, 2, 3, 6, 9, 9, 12, 22, 44, 51]

### Exercise  6
*String replacement*

For each word in a sentence replace a with @, s with $, o with 0, l with !.

But do not touch a letter if its the first character in a word.

For example, analysis => `an@!y$i$`  We do not touch the first a.

Hint: use `.split()`

In [23]:
text = """Instead, your cover letter should go beyond your work history to
talk about things that make you especially well-suited for the job."""

In [26]:
new_text = ""
for word in text.split():
    new_word = word[0]
    for letter in word[1:]:
        if letter == "a":
            new_word += "@"
        elif letter == "s":
            new_word += "$"
        elif letter == "o":
            new_word += "0"
        elif letter == "l":
            new_word += "!"
        else:
            new_word += letter
    new_text += new_word + " "

new_text

'In$te@d, y0ur c0ver letter sh0u!d g0 bey0nd y0ur w0rk hi$t0ry t0 t@!k ab0ut thing$ th@t m@ke y0u e$peci@!!y we!!-$uited f0r the j0b. '

### Exercise  7

Create combination pairs for every name in a list

Expected output:

```python
[('Andrea', 'Bob'),
 ('Andrea', 'Cassandra'),
 ('Andrea', 'Doug'),
 ('Bob', 'Cassandra'),
 ('Bob', 'Doug'),
 ('Cassandra', 'Doug')]
 ```

 Bonus points if you use a list comprehension.

In [44]:
names = ['Andrea', 'Bob', 'Cassandra', 'Doug']

In [29]:
# With for loop
combos = []
for i in range(len(names)):
    n1 = names[i]
    for n2 in names[i:]:
        if n1 != n2:
            combos.append((n1, n2))
combos

[('Andrea', 'Bob'),
 ('Andrea', 'Cassandra'),
 ('Andrea', 'Doug'),
 ('Bob', 'Cassandra'),
 ('Bob', 'Doug'),
 ('Cassandra', 'Doug')]

In [48]:
# With list comprehension
combos = [(names[i], n2) for i in range(len(names)) for n2 in names[i:] if names[i] != n2]
combos

[('Andrea', 'Bob'),
 ('Andrea', 'Cassandra'),
 ('Andrea', 'Doug'),
 ('Bob', 'Cassandra'),
 ('Bob', 'Doug'),
 ('Cassandra', 'Doug')]

### Exercise  8

Write a function to extract the name located between the parentheses in texts.

Include a kwarg, `lowercase`, that outputs the name in all lowercase letters if True.

In [31]:
# Test with these
txt1 = "While walking in the park, (Emily) found a mysterious old key."
txt2 = "After buying the lottery ticket, (David) couldn't believe his luck when he won."
txt3 = "For the school bake sale, (Sarah) baked some delicious chocolate chip cookies."
txt4 = "On an exciting adventure to the mountains, (Michael) and his friends went."

In [30]:
def get_name(text, lowercase=True):
    name = text.split("(")[-1]
    name = name.split(")")[0]

    if lowercase:
        name = name.lower()

    return name

In [32]:
get_name(txt1)

'emily'

In [34]:
get_name(txt2, lowercase=False)

'David'

In [36]:
get_name(txt3)

'sarah'

In [35]:
get_name(txt4, lowercase=False)

'Michael'

### Exercise  9

Calculate the euclidean and manhattan distances between these pair of numerical lists. Use functions from the `math` package if helpful.

Hint: use the `abs` function for manhattan distance

[Euclidean distance formula](https://www.cuemath.com/euclidean-distance-formula/)


[Manhattan distance formula](https://xlinux.nist.gov/dads/HTML/manhattanDistance.html)

In [50]:
numlist1 = [1,6,8]
numlist2 = [5,1,6]

In [54]:
euclidean_dist = 0

for i,j in zip(numlist1, numlist2):
    euclidean_dist += (i-j)**2
    
euclidean_dist**.5

6.708203932499369

In [56]:
manhattan_dist = 0

for i,j in zip(numlist1, numlist2):
    manhattan_dist += abs(i-j)
manhattan_dist

11

# Exercise 10

Given a dictionary of student names and their scores, create a new dictionary denoting whether they passed or failed. The list should say "PASS" for students who scored 80 or above, and "FAIL" for students who scored below 80. Use a dictionary comprehension.

In [38]:
students_scores = {
    'Marietta': 85,
    'Peter': 60,
    'Cedric': 75,
    'Julia': 90,
    'Rhiya': 55
}

In [40]:
pass_fail = {student: "PASS" if score >= 80 else "FAIL" for student, score in students_scores.items()}
pass_fail

{'Marietta': 'PASS',
 'Peter': 'FAIL',
 'Cedric': 'FAIL',
 'Julia': 'PASS',
 'Rhiya': 'FAIL'}