### Exercise Solutions - Day 2
*July 30, 2024*

*I School Python Bootcamp*

*Author: Lauren Chambers<br>Modified from exercises by George McIntire, Hellina Nigatu, & Kat Tian*

## Lab 2A - Variable Types

### Exercise 1

In [100]:
a = 1.0
b = "1"
c = "1.1"

What do each of these operations do?

1. `a + float(b)`
2. `float(b) + float(c)`
3. `a + int(c)`
4. `a + int(float(c))`
5. `int(a) + int(float(c))`
6. `2.0 * b`

In [102]:
a + float(b)
# adding float (a = 1.0) and float converted from a string (b = "1").

2.0

In [103]:
float(b) + float(c)
# adding float converted from a string (b = "1") and
# float converted from a string (c = "1.1") and

2.1

In [104]:
a + int(c)
# Error! c = "1.1" which is not an integer. Cannot convert c to an integer.

ValueError: invalid literal for int() with base 10: '1.1'

In [105]:
a + int(float(c))
# adding float (a = 1.0) and an integer converted from a 
# float converted from a string (c = "1.1"). 
# conversion to int rounds c down to 1.
# NOTE: implicit conversion here: float + int = float

2.0

In [106]:
int(a) + int(float(c))
# adding integer converted from a float (a = 1.0) and an 
# integer converted from a float converted from a string (c = "1.1").
# conversion to int rounds c down to 1.

2

In [107]:
2.0 * b
# Error! Cannot multiple a float (2.0) times a string (b = "1")
# note that `2 * b` would be fine, resulting in "11"

TypeError: can't multiply sequence by non-int of type 'float'

### Exercise 2

Write out a sentence without punctuation and then _concatenate_ it with a period, exclamation point or question mark.

In [109]:
sentence = ""
period = "."
exclamation_point = "!"
question_mark = "?"

In [110]:
sentence = "How are you doing today"
sentence + question_mark # string concatenation uses +

'How are you doing today?'

### Exercise 3

Why do the following code snippets produce errors? If you need help, pay attention to the error messages in the tracebacks

In [124]:
print('I love python")
# The quotes don't match. The first is a single quote ' while the 
# second is a double ". Note the error message: EOL (end of line) while
# scanning string literal - it's saying, "hey I was looking for the end
# of the quote, but I hit the end of a line first!"

SyntaxError: EOL while scanning string literal (91141951.py, line 1)

In [4]:
print(super_variable)
# The variable `super_variable` has not yet been defined in this notebook.

NameError: name 'super_variable' is not defined

In [6]:
float("3.9O")
# sneaky one! Notice that the letter O and the number 0 are similar
# but distinct. This line is similar to `float("3.9o")` which is 
# not a numeric string and cannot be converted to float.

ValueError: could not convert string to float: '3.9O'

### Exercise 4

Write out a script that composes an email address for someone using the lower-cased first letters of the first name, an underscore, and their last name in all caps.

For example: jer_FARNSWORTH@gmail.com

Use slicing, concatenation, and string methods

In [114]:
first_name = "Jeremy"
last_name = "Farnsworth"

domain = "@gmail.com"

In [128]:
first_name[:3].lower() + "_" + last_name.upper() + domain

'jer_FARNSWORTH@gmail.com'

### Exercise 5

Check to see if the following string is anagram — when reversing the order of a string does not change it.

Output should be boolean.

In [130]:
string = "tacocat"

In [132]:
string == string[::-1] # reverse string using steps

False

### Challenge Exercise
Why does this code throw an error?

In [10]:
string = "sequence”
# another sneaky one. note that the first double-quote is straight 
# while the second is curvy. these are two distinct characters, 
# so Python treats it as an open quotation.

SyntaxError: EOL while scanning string literal (1779523252.py, line 1)

## Lab 2B - Conditions
### Exercise 0

Let's write a program together that checks to see if a year is a leap year. 

Remember that a leap year

    - Divisible by 4
    
    - Not divisible by 100
    
    - Divisible by 400

In [25]:
# Use the modulo operator to determine divisibility
# Use multiple condition clauses to work out the difference
# between 100 years (not leap years) and 400 years (yes leap years)

year = 2100

if (year % 400 == 0):
    if (year % 4 == 0):
        print(year, "is a leap year!")
elif (year % 100 != 0):
    if (year % 4 == 0):
        print(year, "is a leap year!")
    else:
        print(year, "is not a leap year!")
else:
    print(year, "is not a leap year!")

2100 is not a leap year!

### Exercise 1


Write a program that checks to see if `num` is positive, negative, or zero. Print that says `num` is negative, positive, or zero

In [ ]:
num = -1

In [ ]:
if num > 0:
    print("num is positive")
elif num < 0:
    print("num is negative")
else:
    print("num is zero")

### Exercise 2

Check to see if a string exclusively has number and thus can be converted to an integer and convert it if that's the case. If not then print "cannot convert to integer"

In [65]:
string_num = "34a"

In [66]:
if string_num.isnumeric():
    num = int(string_num)
    print(num)
else: 
    print("cannot convert to integer")

cannot convert to integer

### Exercise 3

Calculate a tax bill calculator where 

    - Less than 0-$50000 is taxed at 10%

    - Greater than $50000 is taxed 25%

In [38]:
income = 60000

In [71]:
if income <= 50000:
    tax = income * .1
else:
    tax = 50000 * .1
    tax += (income - 50000) * .25
print(tax)

7500.0

### Exercise 4

Add parentheses so that the following expressions all evaluate to True

In [69]:
False == (not True)
# Without parantheses, tries to execute `False == not` and throws error

True

In [44]:
(True and False) == (True and False)
# Without parantheses, executes in order:
# - True and False -> False
# - (True and False) == True -> False == True -> False
# - ((True and False) == True) and False -> (False == True) and False -> False and False -> False

True

In [33]:
not (True and ("A" == "B"))
# Without parantheses, executes in order:
# - not True -> False
# - (not True) and "A" -> False and "A" -> False
# - ((not True) and "A") == "B" -> (False and "A") == "B" -> False == "B" -> False

True

### Exercise 5

How would you check to see if a number is odd or even?

Hint: use modulo sign %

In [47]:
2 % 2

0

In [49]:
3 % 2

1

In [50]:
if num % 2 == 0:
    print("even")
else:
    print("odd")

even

### Exercise 6
Write code using nested conditions to represent your decision process as you choose what to wear in the morning.

In [54]:
day = "saturday"
temp = 62

if day in ["saturday", "sunday"]:
    if temp > 65:
        outfit = "comfy shorts and t-shirt"
    else:
        outfit = "sweatpants and hoodie"
else:
    if temp > 65:
        outfit = "jeans and t-shirt"
    else:
        outfit = "jeans and sweater"

print(outfit)

sweatpants and hoodie