# Lab 2A - Variable Types
*Day 2 - July 30, 2024*

*I School Python Bootcamp*

*Author: Lauren Chambers<br>Modified from notebooks by George McIntire, Hellina Nigatu, & Kat Tian*

## Data Types

Every value in python has a specific type.

Iterables:
* **Strings** - Strings are sequences of characters, and they are used to represent textual data in Python.
Strings are enclosed in either single quotes (' ') or double quotes (" ").
* **Lists** - Lists contain more than one item. Items don't all have to be the same type!
* **Tuples** - Tuples are _immutable_ lists. Once they have been declared, items cannot be added or removed from them.
* **Dictionaries** - Dictionaries contain two elements: keys and items. You use a key to retrieve an item. Keys cannot be duplicated.
* **Sets** - Sets are lists which contain no duplicate items; each item in a set is unique.


Numbers:

* **Booleans** - A binary choice encoded as True or False. Used to make logical decisions and dictate the flow of programs
* **Integers** - Whole numbers without decimal points, can be positive, negative or zero. Ex: 3, 582, -2893
* **Float** - Floats are numbers with decimal points or numbers represented in scientific notation. Ex 49.12, -0.98

|  | e.g. | Numeric | Iterable | Ordered | Mutable | Duplicates |
|---|---|---|---|---|---|---|
| strings | `"hello"` |  | ✔ | ✔ | ✔ | ✔ |
| list | `["hello", "world", 123]` |  | ✔ | ✔ | ✔ | ✔ |
| dict | `{"greeting": "hello world"`} |  | ✔ |  | ✔ |  |
| tuple | `("hello", "world", 123)` |  | ✔ | ✔ |  | ✔ |
| set | `{"hello", "world"}` |  | ✔ | ✔ | ✔ |  |
| integer | `1` | ✔ |  |  |  |  |
| float | `1.0` | ✔ |  |  |  |  |
| boolean | `True, False` | ✔ |  |  |  |  |

Here are examples of each of these types:

In [ ]:
# Strings
x="hello world"
print(x)

In [ ]:
# Integers
y=5
print(y)

In [ ]:
# Floats
x=7.9
print(x)

In [ ]:
# Tuples
tuple_of_numbers = (1,2,3,4,5)
print("The first three elements in the tuple are: ",tuple_of_numbers[:3])
print("The first element in the tuple is: ", tuple_of_numbers[0])

# lists are NOT mutable - you cannot add or remove elements
tuple_of_numbers.append(6)

In [ ]:
# Dictionaries
name={'first_name': 'Lauren', 'last_name':'Chambers'}

print("The keys of the dictionary are: ", name.keys())

print("The values of the dictionary are: ", name.values())

print("The items of the dictionary are: ", name.items())

print("The first name is: ", name["first_name"])

In [ ]:
# Sets
list_with_duplicates = [1, 2, 2, 1, 2]
set_of_list = set(list_with_duplicates)
print(set_of_list)

### Syntax highlighting

Python (and most programming languages) gives you hints as to variable types through _syntax highlighting_ - a fancy word for changing the colors of the code as you type.

What's the difference between these two lines?

In [ ]:
print(1 + 1) # What variable type is this?
print("1 + 1") # What  variable type is this?

In [ ]:
"1" + 1

### Naming constraints
Why do the following cells throw errors?

In [ ]:
1stname = "Jeff"

In [ ]:
city, state = "Berkeley, CA"

Variable names cannot start with a number, and cannot contain characters like commas or spaces. In the second cell, `city` and `state` act as two separate variables:

In [ ]:
city, state = ["Berkeley", "CA"]
print(city)
print(state)

### Checking with `type()`
We can use the keyword function native to python `type` to figure out the type of a variable

In [ ]:
green = True
red = False 
print("What is the type of green?", type(green))

## Numbers and operators
All numeric types can be manipulated using mathematical operators

In [ ]:
#Use multiplication to calculate revenue
quantity = 100
price = 5
revenue = quantity * price

revenue

In [ ]:
#addition

2678 + 329

In [ ]:
#Subtraction
40 - 28

In [ ]:
#Division

50 / 5

In [ ]:
#Square

2 ** 2

### Comparison operators

In Python, comparison operators are used to compare two values and determine the relationship between them. These operators return a Boolean value (True or False) based on whether the comparison is true or false.

In [ ]:
# Equal to (==): Checks if the values on both sides are equal.
num1 = 8
num2 = 5
num1 == num2

In [ ]:
num2 = 8

num1 == num2

In [ ]:
# Integer and float versions of the same number output `True`
3 == 3.0

In [ ]:
# Not equal to (!=): Checks if the values on both sides are not equal.
num1 != num2

In [ ]:
# Greater than (>): Checks if the value on the left side is greater than the value on the right side.
greater_status = 10 > 9
greater_status

In [ ]:
# Adding an `=` sign changes the operation to greatet than or equal.
3 >= 3

In [ ]:
# Lesser than and lesser than or equal comparison
x = 13
y = 20

x <= y

## Iterables

We can use certain operators on iterables, too.

In [ ]:
# Concatenation. We can attach strings or lists together by adding them
greeting = "hello" + " " + "world"
print(greeting)

list1 = ["hello", "world"]
list2 = ["nice", "to", "meet", "you"]
print(list1 + list2)

In [ ]:
# We can duplicate iterables by multiplying them by integers
double_greeting = greeting * 2
print(double_greeting)

double_list = list * 2
print(double_list)

In [ ]:
# Subtraction and division operations do not apply to iterables
"hello" - "h"

In [ ]:
"california" /2

We can use the built-in `len` function to calculate the number of characters in any iterable, including strings.

In [ ]:
word = "Antidisestablishmentarianism"

word_length = len(word)
word_length

In [ ]:
len(list1)

In [ ]:
empty_string = ''

len(empty_string)

### Slicing and indexing

In Python, slicing allows you to extract a portion of a string (a substring) or a list based on a specific range of indices. The slicing notation is done using square brackets [], and it follows the format [start_index:end_index], where start_index is the index of the first character/item you want to include in the slice, and end_index is the index of the character/item just after the last character you want to include. The resulting slice will contain all characters/items from the start_index up to, but not including, the end_index.

Here's the general syntax for slicing a string:

`string_variable[start_index:end_index]`

And a list is the same:

`list_variable[start_index:end_index]`

The `start_index` number is inclusive while the `end_index` is not.

<div class="alert alert-block alert-danger">
Remember!! Python indexes from ZERO, not one!
</div>

Extract the 3rd through 6th characters from the word quintessential. We should see `inte` returned

In [ ]:
word = "quintessential"

substring = word[2:6]
substring

Since Python starts at 0, the 2 in this case represents the third character.

Extract the first four characters

In [ ]:
#This works
word[:4]

In [ ]:
#So does this 
word[0:4]

Extract the characters after the fifth character

In [ ]:
word[5:]

Slicing does not affect the original string.

In [ ]:
word

If you do not put integers on either side of the : you get the original string

In [ ]:
word[:]

Accessing individual characters in the string

In [ ]:
#First character
word[0]

In [ ]:
#Seventh character
word[6]

In [ ]:
#Last character
word[-1]

We can also slice string using intervals or steps

In [ ]:
print(word[::2]) # Slice every even position character in this string.
print(word[1::2]) # Odd position characters
print(word[::-1]) # Reverse string by putting -1 after the second :

### Strings

In jupyter notebook, strings are color coded as red.

Write your first and last name between the quotation marks, which are used to denote strings in python.

In [ ]:
first_name = ""
last_name = ""

print("My name is ", first_name, last_name)

In [ ]:
type(first_name)

We can use single, double or triple quotations, so long as both ends match.

In [ ]:
single = 'text'
double = "text"
triple = """text"""

Strings are case sensitive, so what will the following code output?

In [ ]:
"berkeley" == "BerkeleY"

What if I wanted to change the casing of every character in a string?

We use methods exclusively to string objects.

In [ ]:
title = "How Language and Social Status Change the Developing Brain"
upper_title = title.upper()
upper_title

In [ ]:
lower_title = upper_title.lower()
lower_title

In [ ]:
capital_title = lower_title.capitalize()
capital_title

In [ ]:
title = lower_title.title()
title

Integers have no method named `upper` so this code throws up an error.

In [ ]:
hour = 12
hour.upper()

<div class="alert alert-block alert-info">
<b>Jupyter Notebook Detour Tip</b>

Use the `?` or `help()` command to pull the doc strings of a method or function.</div>

In [ ]:
title.lower?

In [ ]:
help(title.lower)

Fix the following code so that the proper names are capitalized

In [ ]:
name = "emily"
location = "paris"
employer = "nasa"

sentence = name + " works for " + employer + " but lives in " + location

sentence

Replace characters in a string.

In [ ]:
animal = "aardvark"

Use `.replace()` to replace the a in aardvark with an @

In [ ]:
animal.replace("a", "@")

Replace can be used to delete characters in a string by replacing characters with an empty string. Strings don't have a defined delete method.

In [ ]:
animal.replace("a", '')

**Boolean String Methods**

These methods produce booleans when called.

In [ ]:
text = "What is Hello World?"
text.startswith("W")

In [ ]:
text.startswith("What")

In [ ]:
text.endswith(".")

In [ ]:
a = "a"
a.isalpha()

In [ ]:
x = "2"
x.isnumeric()

In [ ]:
service = "sagemaker"
service.islower()

In [ ]:
service.isupper()

Splitting up strings.

In [ ]:
article = "To combat stress and burnout, employers are increasingly offering benefits"

In [ ]:
article.split()

`.split()` literally splits up the string into a list of strings.

The default is to split on spaces but we can use other characters too.

In [ ]:
roster = "Jeff/Terry/Tim/Laura/Cat"
split_roster = roster.split("/")
split_roster

We can undo this by using `.join()`

In [ ]:
"/".join(split_roster)

New line characters are represented as `\n` in python.

In [ ]:
lines = "First row\nSecond row\nThird row"
print(lines)

## Types Conversion

It is possible to convert between different kinds of types.

Do you think this code works?

In [ ]:
width = 10
height = "20"

In [ ]:
area = width * height

It does not. In order to make it work we need to convert height to an integer by using the built-in integer function.

In [ ]:
height = int(height)
area = width*height
area

Converting a float to an integer rounds it down to the nearest whole number

In [ ]:
x = 9.7
int(x)

We can do this with floats and strings as well

In [ ]:
gpa_string = "3.72"
gpa_float = float(gpa_string)
gpa_float

In [ ]:
ranking_int = 10
ranking_str = str(ranking_int)
ranking_str

When converting string representations of number we have to make sure there are only numerical characters in the string.

In [ ]:
#This works

int("4")

In [ ]:
#This does not

int("30 days")

In [ ]:
#Neither does this
float("$38.39")

# Exercises

## Exercise 1

In [ ]:
a = 1.0
b = "1"
c = "1.1"

What do each of these operations do?

1. `a + float(b)`
2. `float(b) + float(c)`
3. `a + int(c)`
4. `a + int(float(c))`
5. `int(a) + int(float(c))`
6. `2.0 * b`

## Exercise 2

Write out a sentence without punctuation and then _concatenate_ it with a period, exclamation point or question mark.

In [ ]:
sentence = ""
period = "."
exclamation_point = "!"
question_mark = "?"

## Exercise 3

Why do the following code snippets produce errors? If you need help, pay attention to the error messages in the tracebacks

In [ ]:
print('I love python")

In [ ]:
print(super_variable)

In [ ]:
float("3.9O")

## Exercise 4

Write out a script that composes an email address for someone using the lower-cased first letters of the first name, an underscore, and their last name in all caps.

For example: jer_FARNSWORTH@gmail.com

Use slicing, concatenation, and string methods

In [ ]:
first_name = "Jeremy"
last_name = "Farnsworth"

domain = "@gmail.com"

## Exercise 5

Check to see if the following string is anagram — when reversing the order of a string does not change it.

Output should be boolean.

In [ ]:
string = "tacocat"

## Challenge Exercise
Why does this code throw an error?

In [ ]:
string = "sequence”