# Exercise Solutions - Day 3
*July 31, 2024*

*I School Python Bootcamp*

*Author: Lauren Chambers<br>Modified from exercises by George McIntire, Hellina Nigatu, & Kat Tian*

## Lab 3A - Iteration

### Exercise 1
Extract only the consonants from the word _luguburious_


Output => "lgbrs"

In [69]:
consonants = ""
vowels = "aeiou"
word = "luguburious"

for char in word:
    # Check if each letter is vowel
    if char not in vowels:
        # If it's not, concatente onto the `consonants` string
        consonants += char
consonants

'lgbrs'

### Exercise 2
Write the pseudocode for the following programs.

In [ ]:
for x in range(4, 20):
    print(x/2)

*Pseudocode:* For each number from 4 to 19, print the number divided by two. Output: 2, 2.5, 3, 3.5, 4... 9.5

In [ ]:
for school in ["Cal", "UCLA", "UCSF"]:
  print(school + " is a UC school.")

*Pseudocode:* For each listed school, including Cal, UCLA, and UCSF, print that the school is a UC school.

### Exercise 3

Part 1: 


Find the total number of characters (letters) in this list of strings

In [10]:
sf_streets = ["Market", "Mission", "Lombard", "Geary", "Van Ness", 
              "Embarcadero", "Haight", "Divisadero Street"]
total_characters = 0

In [12]:
 # Join all names into one mega-string
all_together = "".join(sf_streets)
# Use a list comprehension to take only alphabetical characters, and make them lowercase
street_characters = [char.lower() for char in all_together if char.isalpha()]
# Measure the length of the list = the number of unique letters. Use sets!
len(set(street_characters))

18

Part 2:

Create a string that is the capitalized first letter of each street in alphabetical order. (Not sure how to put a string into alphabetical order? Google it! ðŸ˜‰)

In [93]:
# Use a list comprehension to get the first letter of each street
first_letters = [street[0] for street in sf_streets]
# Alphabetize the list
alpha_first_letters = sorted(first_letters)
# Turn the list back into one long string
capitalized_str = "".join(alpha_first_letters)
capitalized_str

'DEGHLMMV'

### Exercise 4

Iterate over numbers 5 to 35, square the odd numbers and double the even numbers and append them to the output list.

In [139]:
# for loop version
output = []
for num in range(5, 36):
    if num % 2 ==0:
        output.append(num * 2)
    else:
        output.append(num **2)
output

[25,
 12,
 49,
 16,
 81,
 20,
 121,
 24,
 169,
 28,
 225,
 32,
 289,
 36,
 361,
 40,
 441,
 44,
 529,
 48,
 625,
 52,
 729,
 56,
 841,
 60,
 961,
 64,
 1089,
 68,
 1225]

In [141]:
# list comp version
output = [num * 2 if num % 2 ==0 else num**2 for num in range(5, 36)]
output

[25,
 12,
 49,
 16,
 81,
 20,
 121,
 24,
 169,
 28,
 225,
 32,
 289,
 36,
 361,
 40,
 441,
 44,
 529,
 48,
 625,
 52,
 729,
 56,
 841,
 60,
 961,
 64,
 1089,
 68,
 1225]

### Exercise 5

Use a while loop and a set to iterate over a string until you reach a letter you've already encountered.

In [19]:
word = 'machinelearning'

# Initialize values we'll be iterating over
familiar_letters = []
i = 0
new_letter = ""

# Keep looping until we find a new letter that is already in the familiar_letters list
while new_letter not in familiar_letters:
    # Get the ith letter
    letter = word[i]
    print(letter)
    
    # Add it to our list of known letters
    familiar_letters.append(letter)
    
    # Move on to the next letter
    i += 1
    new_letter = word[i]

m
a
c
h
i
n
e
l

*Bonus:* Add a part that tells what index position of the first duplicate character.

In [22]:
# Initialize values we'll be iterating over
familiar_letters = []
i = 0
new_letter = ""

while new_letter not in familiar_letters:
    # Get the ith letter
    letter = word[i]
    print(letter)
    
    # Add it to our list of known letters
    familiar_letters.append(letter)
    
    # Move on to the next letter
    i += 1
    new_letter = word[i]

    # If it's a duplicate, print the index
    if new_letter in familiar_letters:
        print("index:", i)

m
a
c
h
i
n
e
l
index: 8

In [24]:
# test - what is the 8th letter?
word[8]

'e'

### Exercise 6

Create the multiplication table below

```
1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100
```

In [121]:
# using x and y as variables for this grid
for y in range(1, 11):
    # for each y value, create a row
    row = ""
    for x in range(1, 11):
        # each column is x * y
        row += str(x * y) + " "
    print(row)

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

## Lab 3B - Functions & Libraries
## Exercise 0 

Visit the documentation for the JWST Quicklook (JWQL) package: https://jwql.readthedocs.io/en/latest/

What are the arguments does the the `jwql.instrument_monitors.common_monitors.bad_pixel_monitor.check_for_sufficient_files()` function take?<div class = "alert alert-block alert-warning">
Lauren did a bad job choosing a sample function from the JWQL docs, especially since the ReadTheDocs search function seems to be glitching. A better one would be the <code>jwql.database.database_interface.get_monitor_table_constraints</code> function.
</div>


*Y'all won't be working on astronomical instrument monitoring software at the I School (probably) - but I include this question to demonstrate that well-written software documentation is easy to navigate, even with zero background expertise!*

In [ ]:
# Original answer: 
#https://jwql.readthedocs.io/en/latest/common_monitors.html#jwql.instrument_monitors.common_monitors.bad_pixel_monitor.check_for_sufficient_files
#uncal_files, instrument_name, aperture_name, threshold_value, file_type

# New answer: 
#https://jwql.readthedocs.io/en/latest/database.html#jwql.database.database_interface.get_monitor_table_constraints
#data_dict, table_name

## Exercise 1 
*Tax Calculator Upgrade:*

Let's bring back our tax calculator exercise -- but this time we'll add in another level


Tax rate rules

- \\$0 - \\$25,000 => 10%
- \\$25,000 - \\$50,000 => 15%
- \\$50,000 - inf => 25%

Write a function that calculates the tax bill of a given income.

For example, the tax of \\$35,000 dollars is 25000 * 0.1 + (35000-25000) * 0.15 = 4000

In [40]:
def calc_tax(income):
    if income <= 25000:
        tax = income * .1
    elif income <= 50000:
        tax = 25000 * .1
        tax += (income - 25000) * .15
    else:
        tax = 25000 * .1
        tax += (50000 - 25000) * .15
        tax += (income - 50000) * .25
    return tax

In [120]:
calc_tax(35000)

4000.0

In [42]:
calc_tax(70000)

11250.0

## Exercise 3: 
*Case Inversion*

Write a function that inverts the casing of a character in a string

Ex: "His name is Dennis" => "hIS NAME IS deNNIS"

In [86]:
def invert_case(string):
    inverted_string = []
    for char in string:
        # Make uppercase characters lowercase
        if char.isupper():
            inverted_string += char.lower()
        # Make lowercase characters uppercase
        elif char.islower():
            inverted_string += char.upper()
        # Keep non-letter characters (like spaces)
        else: 
            inverted_string += char
    return "".join(inverted_string)

In [90]:
invert_case("His name is Dennis")

'hIS NAME IS dENNIS'

## Exercise 4

Write a function that outputs the standard deviation of a list of numbers

Formula here:

![](https://www.gstatic.com/education/formulas2/472522532/en/population_standard_deviation.svg)

In [94]:
import statistics

In [102]:
def std(num_list):
    sum_items = 0
    # Calculate mean mu using statistics.mean
    # ... though you could also do mu = sum(num_list) / len(num_list) 
    mu = statistics.mean(num_list)
    
    for item in num_list:
        sum_items += (item - mu)**2
        
    std = (sum_items / len(num_list))**.5
    return std

In [95]:
num_list = list(range(30, 100, 2)) # try with this list
std(num_list)

## Exercise 5
*Extract Phone Number*

Write a function that takes in some text and extracts the phone number from it.

Remember that the phone is in the ddd-ddd-dddd format.

In [46]:
text = """For general inquiries and information about the National Park Service, 
you can contact their main office through their website
or call the NPS information line at 800-383-3839. Keep in mind that contact information and 
services may vary between different national parks, so it's best to check the 
specific park's website or contact them directly for the most accurate and up-to-date information."""

In [114]:
# Lazy answer
def extract_number(txt):
    words = txt.split()
    for word in words:
        # Just look for the only word that starts with a number
        if word[0].isnumeric():
            phone_number = word

    return phone_number

In [116]:
extract_number(text)

'800-383-3839.'

In [60]:
# Fancy answer uses regular expressions (regex)
import re

In [56]:
def extract_number(txt):
    # Create a regular expression to search:
    # \d refers to a digit/number
    # {x} specifies the number of times that character repeats
    # \d{3}-\d{3}-\d{4} matches ###-###-####
    phone_number = re.findall("\d{3}-\d{3}-\d{4}", text)[0]

    return phone_number

In [58]:
extract_number(text)

'800-383-3839'